/****Tag selector****/

h1{
color: red; font-size: 100px;
}

h1:hover{
color: gold;
}
p:hover{
  background-color: black;
  color: white;
}

img:hover{
  background-color: gold;
}


/****class selector****/

.momo{
  background-color: green;
}
.cheese{
  background-color: red;
}
.round{
  border-radius: 100%;
}
/****ID selector
#heading {
  background-color: pink;
}
****/
